*, body{
    background-color: black;
    margin: 0px;
    padding: 0px;
    color: white;
    font-size: 6vw;
    text-align: center;
    overflow: hidden;
}

body, html{
    height: 100%;
    width: 100%;
}

#canvas{
    display: flex;
    flex-direction: column;
    height: 80%;
    padding: 10px;
}


#canvas>*{
    width: 100%;    
    flex-grow: 1;
    display: flex;
    flex-direction: column; 
    display: flex;
    flex-direction: row;
}

#canvas>*>*{
    background-color: white;
    flex-grow: 1;
    margin: 10px;
}

.digito{
    background-color: red !important;        
}

p{
    font-size: small;
    text-decoration: underline;
}